__pycache__/
*.py[cod]
*.log
*.err.log

.venv/
venv/
miraclevenv/

backend/.venv/
backend/miraclevenv/
backend/static/images/*
!backend/static/images/.gitkeep

frontend/node_modules/
frontend/.angular/
frontend/dist/
frontend/output/

.env
.env.*
